<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.githubandroid">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubAndroid"
        tools:targetApi="31">
        <activity
            android:name=".bai18Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bai17.Bai17Activity"
            android:exported="false" />
        <activity
            android:name=".bai16.Bai16Activity"
            android:exported="false" />
        <activity
            android:name=".bai15.Bai15Activity"
            android:exported="false" />
        <activity
            android:name=".bai14.Bai14Activity"
            android:exported="false" />
        <activity
            android:name=".bai13.Bai13Activity"
            android:exported="false" />
        <activity
            android:name=".bai11.Bai11Activity"
            android:exported="false" />
        <activity
            android:name=".bai12.Bai12Activity"
            android:exported="false" />
        <activity
            android:name=".bai9.Bai9Activity"
            android:exported="false" />
    </application>

</manifest>